/*Colors*/
/*Colors*/
/*Font-family*/
/*Font-family*/
/*Font sizes*/
/*Font sizes*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #303A40;
}

/********FRONT-PAGE - Message and counter*****************/
.containerbtn {
  text-align: center;
}

.pageintro {
  text-align: center;
  margin: 40px 0 20px 0;
}

.pageintro .pageintro-heading {
  text-transform: uppercase;
  font-size: 48px;
  color: #FFF;
}

.pageintro-msg {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  text-transform: uppercase;
  font-size: 32px;
  color: #FFF;
}

.container_intro {
  position: absolute;
  left: 0;
  right: 0;
}

.container_intro .introtxt {
  text-align: center;
}

.introtxt__head2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #FFF;
  margin: 20px 0 40px 0;
}

.introtxt__message {
  font-size: 21px;
  color: #FFF;
  margin: 0 0 10px 0;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.introtxt__charactherchosen {
  font-size: 32px;
  color: #FFF;
  margin: 40px 0 0 0;
}

.chosenCharaters-countdown {
  position: relative;
}

.counter {
  font-size: 32px;
  color: #FFF;
  position: absolute;
  right: -180px;
  top: 80px;
  width: 250px;
}

/********FRONT-PAGE - Message and counter*****************/
/********FRONT-PAGE - Characters*****************/
.containercharacters {
  margin: 60px 100px 0 0;
}

.container__characters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (15px)[5];
      grid-template-columns: repeat(5, 15px);
  grid-auto-rows: 180px;
  grid-gap: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.face-images {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.face__card {
  position: relative;
}

.face-names {
  font-size: 21px;
  color: #FFF;
  display: inline-block;
  width: 230px;
  padding: 20px 45px 0 0;
}

.chosenCharaters {
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chosencharacters_player1, .chosencharacters_player2 {
  display: inline-block;
  position: absolute;
}

.chosencharacters__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chosencharacter_opponent {
  position: absolute;
  top: 250px;
  font-size: 21px;
  color: #FFF;
}

/********FRONT-PAGE*****************/
/********FOOTER*****************/
/********FOOTER*****************/
/********Tablets*****************/
@media screen and (max-width: 1200px) {
  .container__characters {
    -ms-grid-columns: (15px)[2];
        grid-template-columns: repeat(2, 15px);
    grid-auto-rows: 180px;
    grid-gap: 350px;
  }
}

/********Tablets*****************/
/********Phones*****************/
@media screen and (max-width: 640px) {
  .container__characters {
    -ms-grid-columns: (15px)[2];
        grid-template-columns: repeat(2, 15px);
    grid-auto-rows: 180px;
    grid-gap: 150px;
  }
  .containercharacters {
    margin: 60px 90px 0 0;
  }
  .face-images {
    width: 110px;
  }
  .pageintro .pageintro-heading {
    font-size: 32px;
  }
  .introtxt__head2 {
    font-size: 26px;
  }
  .introtxt__message {
    font-size: 16px;
    margin: 0 10px 0 20px;
    text-align: start;
    line-height: 25px;
    width: 350px;
  }
  .introtxt__charactherchosen {
    font-family: "cinzel";
    font-size: 22px;
  }
  .player1, .player2 {
    width: 110px;
  }
  .chosencharacter_opponent {
    top: 360px;
  }
  .counter {
    font-family: "cinzel";
    font-size: 22px;
    top: 270px;
    padding: 0 0 0 20px;
  }
  .face-names {
    width: 90px;
    padding: 20px 0 0 0;
    font-size: 16px;
  }
  .names {
    width: 50px;
  }
  .pageintro-msg {
    display: none;
  }
}

/********Phones*****************/
/* -------------Player img, dices, buttons and trap txt----------------*/
.boardcontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.5fr 1fr;
      grid-template-columns: 1fr 2.5fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
}

.boardcontainer__playerimg {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.boardcontainer__player1 {
  display: inline-block;
  margin: 50px 390px 0 0;
}

.boardcontainer__player2 {
  display: inline-block;
}

.boardcontainer__imgplayer1 {
  display: inline-block;
  -webkit-box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.bordcontainer__dices {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.dice {
  position: relative;
  margin: 30px 0 240px 0;
}

.dice .dice__player1 {
  position: absolute;
  cursor: pointer;
  margin: 20px 0 0 0;
  right: -15px;
}

.bordcontainer__btn {
  -ms-grid-column: 2;
  grid-column: 2 / 2;
}

.boardcontainer__btnplayer2 {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  margin: 0 60px 0 0;
  background-color: #3e78be;
  color: #FFF;
  font-size: 21px;
  line-height: 0px;
  -webkit-box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.bordercontainer__rolledsixhuman {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  place-self: center;
  position: relative;
}

.bordercontainer__rolledsixmachine {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  place-self: center;
  position: relative;
}

.bordcontainer__containerinstruction {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  color: #FFF;
  position: relative;
}

.bordcontainer__intruction {
  position: absolute;
  left: -280px;
  top: 20px;
  width: 650px;
  font-size: 32px;
}

/* -------------Player img, dices, buttons and trap txt----------------*/
/* --------Gridcells-------------*/
#player1, #player2 {
  margin: 0 0 0 30px;
  z-index: 10;
  -ms-grid-row: 1;
  grid-area: 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

#player2 {
  margin: 20px 0 0 30px;
}

.player1pawn {
  display: block;
}

.player2pawn {
  display: block;
}

.container, .container__gridhorizontal2, .container__gridhorizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__gridhorizontal2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container__gridvertically {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__gridvertically .tile {
  width: 181px;
  margin: 3px;
  height: 120px;
}

.container__gridverticallyleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container__gridverticallyleft .container__lefttile {
  width: 181px;
  margin: 3px;
  height: 120px;
}

.gridcell {
  background-color: #c0c0c0;
  width: 160px;
  margin: 3px;
  height: 120px;
}

.gridcell__colorred {
  background-color: #6E080D;
}

/* --------Gridcells-------------*/
#btn_dice, #btn_dice2 {
  height: 35px;
}

.message {
  height: 50px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  place-self: center;
  position: relative;
}

.message-txt {
  width: 540px;
  position: absolute;
  font-size: 21px;
  color: #FFF;
  right: -330px;
  top: 210px;
}

.winner {
  color: black;
}

.castle {
  position: absolute;
  bottom: 0;
}

.gridcell__invisible {
  background-color: transparent;
  position: relative;
  display: -ms-grid;
  display: grid;
}

@font-face {
  font-family: 'cinzel';
  src: url(/Fonts/cinzel/Cinzel-Regular.ttf);
}

@font-face {
  font-family: 'roboto';
  src: url(/Fonts/roboto/Roboto-Regular.ttf);
}

h1 {
  font-family: "cinzel";
}

h2 {
  font-family: "cinzel";
}

p {
  font-family: "cinzel";
  font-size: 16px;
  color: #FFF;
}
/*# sourceMappingURL=styles.css.map */