* {
    color: $txt-color;
}

body {
    background-image: url(/images/white-walker-5739181_1920.jpg);
}


/*Intro txt - fade out*/
.pageintro {
    text-align: center;

    .pageintro-heading {
        text-transform: uppercase;
    }

    .pageintro-txt {
        font-size: $heading2;
        animation: fadeinout 11s linear 1 forwards;
    }
}


@keyframes fadeinout {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
/*Intro txt - fade out*/




/*Mission txt*/
.mission {
    max-width: 900px;
    margin: 0 auto;   
}

/*Mission txt*/

/**/
.mission-btn {
    color: $main-color;
}



.container_charactherflags {
    display:grid;
    grid-auto-flow: column;
    justify-items: center;


}

.container_characters{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.characters_flag {
    width: 60%;
}

