/* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/*/

body {
    background-image: url(/images/1x/background_new.png);
    background-repeat: repeat;
}
/* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
}

/********FRONT-PAGE - Message and counter*****************/


.pageintro {
    text-align: center;
    margin: 40px 0 20px 0;

    .pageintro-heading {
        text-transform: uppercase;
        font-size: $heading1;
        color: $txt-color;
    }
}


.pageintro-msg {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    text-transform: uppercase;
    font-size: $heading3;
    color: $txt-color;
}


.container_intro {
    position: absolute;
    left: 0;
    right: 0;
    & .container__introtxt {
        text-align: center;
    }
}

.introtxt__head2 {
    font-size: $heading2;
    text-transform: uppercase;
    color: $txt-color;
    margin: 20px 0 40px 0;
}

.introtxt__message {
   font-size: $bodytxt;
   color: $txt-color;
   margin: 0 0 10px 0;
   width: 600px;
   margin-right: auto;
   margin-left: auto;
}

.introtxt__charactherchosen {
    font-size: $heading3;
    color: $txt-color;
    margin: 40px 0 0 0;
}


.chosenCharaters__countdown {
    position: relative;
    font-family: $cinzelHeadings;
}

     .counter {
        font-size: $heading3;
        color: $txt-color;
        position: absolute;
        right: -250px;
        top: 80px;
        width: 350px;
    }   


/********FRONT-PAGE - Message and counter*****************/



/********FRONT-PAGE - Characters*****************/




.containercharacters {
    margin: 60px 100px 0 0;
}

.containercharacters__images {
    display: grid;                            
    grid-template-columns: repeat(5, 15px);   
    grid-auto-rows: 180px;                     
    grid-gap: 250px; 
    justify-content: center;                      
}

.containercharacters__faces {
    cursor: pointer;
    opacity: 1;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.60);
}

.containercharacters__cards {
    position: relative;
}


.face-names {
    font-size: $bodytxt;
    color: $txt-color;
    display: inline-block;
    width: 230px;
    padding: 20px 45px 0 0;
}


.chosenCharaters {
    height: 280px;
    display: flex;
    margin-right: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chosencharacters_player1 {
    display: inline-block;
    position: absolute;
}

.chosencharacters__info {
    display: flex;
    justify-content: center;
}

.chosencharacter_enemy {
    position: absolute;
    top: 250px;
    font-size: $heading3;
    color: $txt-color;
    font-family: $cinzelHeadings
}

.chosencharacters_player2 {
    @extend .chosencharacters_player1;
}







/********FRONT-PAGE*****************/

/********FOOTER*****************/

/********FOOTER*****************/



/********Tablets*****************/
@media screen and (max-width: 1200px) {
    .containercharacters__images {                            
        grid-template-columns: repeat(2, 15px);   
        grid-auto-rows: 180px;                     
        grid-gap: 350px;                       
    }
    .chosencharacter_enemy {
        font-size: $mobileH3;
        left: 270px;
    }
}
/********Tablets*****************/

/********Phones*****************/
@media screen and (max-width: 640px) {
    .containercharacters__images {                            
        grid-template-columns: repeat(2, 15px);   
        grid-auto-rows: 180px;                     
        grid-gap: 150px;                       
    }

    .containercharacters {
        margin: 60px 90px 0 0;
    }

    .containercharacters__faces {
        width: 100px;
    }
    .pageintro {
        .pageintro-heading {
            font-size: $mobileH1;
        }
    }

    .introtxt__head2 {
        font-size: $mobileH2;
    }

    .introtxt__message {
        font-size: $mobileBody;
        margin: 0 10px 0 35px;
        text-align: start;
        line-height: 25px;
        width: 350px;
    }

    .introtxt__charactherchosen {
        font-family: $cinzelHeadings;
        font-size: $mobileH3;
    }

    .player1 {
        width: 100px;
    }

    .player2 {
        @extend .player1;
    }

    .chosencharacter_opponent {
        top: 360px;
    }

    .counter {
        font-family: $cinzelHeadings;
        font-size: $mobileBody;
        top: 280px;
        left: -20px;
        width: 145px;
    }

    .face-names {
        width: 90px;
        padding: 20px 0 0 0;
        font-size: $mobileBody;
    }

    .names {
        width: 50px;
    }

    .pageintro-msg {
        display: none;
    }

    .chosencharacter_enemy {
        font-size: $mobileH3;
        top: 390px;
    }
}

/********Phones*****************/
