/*------------mixins----------*/
@mixin flex {
    display:flex;
    justify-content: center;
}
/*------------mixins----------*/


/* -------------Player img, dices, buttons and trap txt----------------*/

.boardcontainer {
    display: flex;
    justify-content: space-between;
}

.boardcontainer__player1 {
    margin: 50px 0 0 0;
}

.boardcontainer__imgplayer1 {
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.60);
}

.boardcontainer__imgplayer2 {
    @extend .boardcontainer__player1;
    box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.60);
}

.bordcontainer__dices {
    @include flex;
    position: relative;
    margin: 0 0 50px 0;
    .dice {
        position: absolute;
    }
}

.bordcontainer__containerinstruction {
    display: flex;
    justify-content: center;

    .bordcontainer__intruction {
        font-size: $heading3;
        margin: 50px 0 50px 0;
    }
}


.bordercontainer__rolledsixhuman {
    @include flex;
    position: relative;
    margin: 0 0 50px 0;
    .bordercontainer__playerrolledsix {
        position: absolute;
        font-size: $bodytxt;
    }
}


.bordercontainer__rolledsixmachine {
    @extend .bordercontainer__rolledsixhuman;
    .bordercontainer__airolledsix {
        position: absolute;
        font-size: $bodytxt;
    }
}

.bordcontainer_player {
    width: 200px;
    height: 45px;
    background-color: $main-color;
}

.musicontainer {
    display: flex;
    justify-content: flex-end;

    .musicontainer__play {
        margin: 25px 25px 0 0;
        opacity: 0.3;
        transition: 0.5s;
        cursor: pointer;
    }

    .musicontainer__paused {
        margin: 25px 55px 0 0;
        opacity: 0.3;
        transition: 0.5s;
        cursor: pointer;
    }

    .musicontainer__play:hover {
        opacity: 1;
    }

    .musicontainer__paused:hover {
        opacity: 1;
    }

}



/* -------------Player img, dices, buttons and trap txt----------------*/



/* --------Gridcells-------------*/

#player1{
    margin: 0 0 0 30px;
    z-index: 10;
    grid-area: 1;
    justify-self: center;
    position: relative;
}

#player2 {
    @extend #player1;
    margin: 20px 0 0 30px;
}

.player1pawn {
    display: block;
    position: absolute;
}

.player2pawn {
    @extend .player1pawn;
    top: 40px;
}

.container {
    @include flex;
}
 
.container__gridhorizontal2 {
    @extend .container;

    flex-direction: row-reverse;
}

.container__gridhorizontal {
    @extend .container;
  

}

.container__gridvertically {
    @include flex;
    & .container__gridcell {
        width: 181px;
        margin: 3px 0 0 5px; 
        height: 120px;
    }
}


.container__gridverticallyleft {
    @include flex;
    flex-direction: row-reverse;
    & .container__leftgrid {
        width: 181px;
        margin: 3px;
        height: 120px;
    }
}

.gridcell {
  background-color: $gridcell-color;
  width: 160px;
  margin: 3px;
  height: 110px;
}

.gridcell__verticallyright {
    margin: 5px 0 0 3px;
}

.gridcell__verticallleft {
    margin: 7px 0 0 3px;
}

.gridcell__colorred {
    background-color: $gridcell-red;
}

/* --------Gridcells-------------*/


#btn_dice {
    height: 35px;
}

#btn_dice2 {
    @extend #btn_dice;
}

.message {
    @include flex;
    margin: 20px 0 80px 0;
    position: relative;

    .message-txt {
        font-size: $bodytxt;
        position: absolute;
        top: 40px;

    }
}


.winner {
    color: black;
}

.castle {
    position: absolute;
    bottom: 0;
}

.gridcell__invisible {
    background-color: transparent;
    position: relative;
    display: grid;
}
footer {
    position: absolute;
    bottom: -500px;
    width: 100%;
    height: 120px;
    margin: 160px 0 0 0;
  }
