/*Colors*/
$main-color: #0F2033;
$txt-color: #FFF;
$background-color: #303A40;
$gridcell-color: #c0c0c0;
$gridcell-red: #6E080D;
$gridcell-blue: #3e78be;
$gridcell-yellow: #DC832E;
$gridcell-black: #0F0308;

/*Colors*/



/*Font sizes*/
$heading1: 48px;
$heading2: 36px;
$heading3: 32px;
$bodytxt:  21px;
/*Font sizes*/